body{
    background-color: #2493A7;
    color: #F2F2EB;
    font-family: 'Karla', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    padding: 8px 15px;
    border-radius: 8px;
    border: solid black 2px;
    box-shadow: black 0px 2px 6px -1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

button:hover{
    background-color: #9AC7D9;
    color: #13678A;
    border: none;
}

#mensaje, #store{
    text-align: center;

}



